body {
	font-family: sans-serif;
}
.produits {
    overflow: hidden;
    margin-right: 310px;
}

.produit {
	position: relative;
    float: left;
    width: 150px;
    height: 250px;
    border: 1px dotted #ccc;
    padding: 15px;
    margin: 15px;
    font-size: 75%;
}
.produit-image{
	position: absolute;
	width: 150px;
	height: 100px;
	bottom: 45px;
	left: 15px;
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}
.produit input{
	position: absolute;
	bottom: 15px;
	left: 15px;
}


.produit h2 {
    margin: 0;
}

.panier {
    position: fixed;
    top: 15px;
    right: 15px;
    width: 250px;
    padding:15px;
    background: black;
    color: white;
    font-size: 75%;
}

.panier-produit {
	border-top: 1px dotted white;
	padding-top: 3px;
	margin-top: 3px;
}